<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bkg.coursemanager.mapper.UserMapper" >
	<resultMap id="Student" type="com.bkg.coursemanager.entity.User" >
	    <result column="id" property="id"/>
	 	<result column="account" property="account"/>
	 	<result column="is_active" property="isActive"/>
	 	<result column="student_name" property="name"/>
	 	<result column="email" property="email"/>
    </resultMap>
    
    <resultMap id="Teacher" type="com.bkg.coursemanager.entity.User" >
	    <result column="id" property="id"/>
	 	<result column="account" property="account"/>
	 	<result column="is_active" property="isActive"/>
	 	<result column="teacher_name" property="name"/>
	 	<result column="email" property="email"/>
    </resultMap>
    
    <resultMap id="Account" type="com.bkg.coursemanager.entity.User" >
	    <result column="id" property="id"/>
	 	<result column="account" property="account"/>
	 	<result column="password" property="password"/>
	 	<result column="is_active" property="isActive"/>
	 	<result column="teacher_name" property="name"/>
	 	<result column="email" property="email"/>
    </resultMap>
    
    <select id="getStudentById" resultMap="Student">
            select student.* from student where id= #{id}
    </select>
    
    <select id="getTeacherById" resultMap="Teacher">
            select teacher.* from teacher where id= #{id}
    </select>
    
    <select id="getStudentByAccount" resultMap="Account">
            select student.* from student where account= #{account}
    </select>
    
    <select id="getTeacherByAccount" resultMap="Account">
            select teacher.* from teacher where account= #{account}
    </select>
    
    <update id="updateStudentPasswordByAccount" parameterType="com.bkg.coursemanager.entity.User">
            update student
            set password= #{password}
            where account= #{account}
    </update>
    
    <update id="updateTeacherPasswordByAccount" parameterType="com.bkg.coursemanager.entity.User">
            update teacher
            set password= #{password}
            where account= #{account}
    </update>
    
    <update id="updateStudentEmailByAccount" parameterType="com.bkg.coursemanager.entity.User">
            update student
            set email= #{email}
            where account= #{account}
    </update>
    
    <update id="updateTeacherEmailByAccount" parameterType="com.bkg.coursemanager.entity.User">
            update teacher
            set email= #{email}
            where account= #{account}
    </update>
</mapper>
